/* Start Variables */
:root {
    --blue: #052659;
    --green: #014511;
    --yellow: #ffc107;
    --purple: #3c0c88;
    --background: #f1fffd;
    --background-nav: #000a2c;
    --default_padding: 20px;
}
/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}
/* End Global Rules  */

/* Start Navbar */
nav {
    background-color: var(--background-nav);
    padding: 10px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

nav ul a {
    text-decoration: none;
    color: var(--yellow);
    font-size: 1.2em;
    font-weight: bold;
}
/* End Navbar */

/* Start Header  */
header {
    background: url("header.jpg") no-repeat ;
    padding: var(--default_padding);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: -1;
}


header .container h1{
    color: #fff;
    z-index: 2;
    font-size: 3em;
}

/* End Header  */

/* Start Main */
main {
    background-color: var(--background);
    padding: var(--default_padding);
}

h1.title {
    text-align: center;
    font-size: 2.5em;
    color: var(--purple);
    font-family: poppins;
}

main > p {
    color: var(--green);
    font-weight: bold;
    line-height: 2em;
    padding-left: 40px;
    font-size: 1.2em;
    text-align: center;
}

main ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

main ul li{
    background-color: var(--blue);
    text-align: center;
    padding: var(--default_padding);
    margin: 10px;
    color: var(--yellow);
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: bold;
    transition: all 1s ease;
}

main ul li:hover {
    background-color: var(--yellow);
    color: var(--blue);
}
/* End Main */

/* Start Footer  */
footer {
    background-color: var(--background-nav);
    padding: var(--default_padding);
}

footer div {
    font-family: poppins;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

footer div span {
    color: var(--yellow)
}
/* End Footer  */
